<div class="footer-container">
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <h5 class="title">Links</h5>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5 class="title">Our Address</h5>
      <address>
        214, King Street West<br>
        Downtown, Toronto<br>
        ONTARIO<br>
        <i class="fa fa-phone"></i>.: +416 1234 5678<br>
        <i class="fa fa-briefcase"></i>: +416 8765 4321<br>
        <i class="fa fa-envelope"></i>: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
      </address>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div style="padding: 40px 10px;">
        <a href="http://google.com/+" class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></a>
        <a href="http://www.facebook.com/profile.php?id=" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
        <a href="http://www.linkedin.com/in/" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="http://twitter.com/" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
        <a href="http://youtube.com/" class="btn btn-social-icon btn-google"><i class="fa fa-youtube"></i></a>
        <a href="mailto:" class="btn btn-social-icon"><i class="fa fa-envelope-o"></i></a>
      </div>
    </div>
    <div class="col-md-12" style="clear:both">
      <p style="padding:10px;"></p>
      <p align=center>© Copyright 2015 Ristorante Il Fornello</p>
    </div>
  </div>
</div>
